doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='/public/style.css')
        script(src="https://kit.fontawesome.com/ac0925c6df.js" crossorigin="anonymous")
    body 
        include includes/auth.pug
        div(class="main-menu")
            h1 Образовательные организации Санкт-Петербурга
            div(class="menu-links")
                a(href="/" class="other-a") Общая статистика
                a(href="/search-by-name" class="other-a") Поиск по названию
                a(class="current-a") Расширенный поиск
        div(class="filters")
            form(action="/extended-search" method="get")
                .field
                    label(for="select_type") Тип организации
                    select(id="select_type" name="type")
                        option(value="-1") Любой
                        each type, index in types 
                            if index == queryParams.type
                                option(value=index selected="selected") #{type} 
                            else 
                                option(value=index) #{type} 
                .field
                    label(for="select_subtype") Подтип организации
                    select(id="select_subtype" name="subtype")
                        option(value="-1") Любой
                        each subtype, index in subtypes
                            if index == queryParams.subtype
                                option(value=index selected="selected") #{subtype} 
                            else 
                                option(value=index) #{subtype} 
                .field
                    label(for="select_category") Вид организации
                    select(id="select_category" name="category")
                        option(value="-1") Любой
                        each category, index in categories
                            if index == queryParams.category
                                option(value=index selected="selected") #{category} 
                            else 
                                option(value=index) #{category} 
                .field
                    label(for="select_location") Район
                    select(id="select_location" name="location")
                        option(value="-1") Любой
                        each location, index in locations
                            if index == queryParams.location
                                option(value=index selected="selected") #{location} 
                            else 
                                option(value=index) #{location}  
                .field
                    label(for="name") Название организации
                    input(id="name" class="search-input" type="text" name="search" placeholder="Название организации" value=`${queryParams.search}`)
                button(class="search-btn" type="submit") Поиск
        ul(class="list")
            each org in orgsOnPage
                li
                    a.name(href=`/organization-page?id=${org.id}`) #{org.short_name}
                    .info
                        p <b>Адрес</b>: #{org.address}
                        p <b>Тип:</b> #{org.type_name}
        br
        .pagination
            a(disabled=(page===1) href=`/extended-search?page=1&search=${queryParams.search}&type=${queryParams.type}&subtype=${queryParams.subtype}&category=${queryParams.category}&location=${queryParams.location}`) <i class="fa-solid fa-angles-left"></i>
            a(disabled=(page===1) href=`/extended-search?page=${page-1}&search=${queryParams.search}&type=${queryParams.type}&subtype=${queryParams.subtype}&category=${queryParams.category}&location=${queryParams.location}`) <i class="fa-solid fa-angle-left"></i>
            p Номер страницы: #{page}
            a(disabled=(page===totalPages) href=`/extended-search?page=${page+1}&search=${queryParams.search}&type=${queryParams.type}&subtype=${queryParams.subtype}&category=${queryParams.category}&location=${queryParams.location}`) <i class="fa-solid fa-angle-right"></i>
            a(disabled=(page===totalPages) href=`/extended-search?page=${totalPages}&search=${queryParams.search}&type=${queryParams.type}&subtype=${queryParams.subtype}&category=${queryParams.category}&location=${queryParams.location}`) <i class="fa-solid fa-angles-right"></i>