html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{info.short_name}
        link(rel='stylesheet', href='/public/style.css')
        script(src="https://kit.fontawesome.com/ac0925c6df.js" crossorigin="anonymous")
        script(src="/public/scripts/org.js") 
    body 
        include includes/auth.pug
        include includes/menu.pug
        +menu()

        .info-page
            h2 Страница организации #{info.short_name}
            p <b>Полное наименование:</b> #{info.name}
            p <b>Короткое наименование:</b> #{info.short_name}
            p <b>Адрес:</b> #{info.address}
            if info.fias
                p <b>Код здания ФИАС:</b> #{info.fias}
            if info.mngr_pos
                p <b>Должность руководителя:</b> #{info.mngr_pos}
            if info.mngr_name
                p <b>ФИО руководителя:</b> #{info.mngr_name}
            p <b>Тип организации:</b> #{types[+info.type]}
            p <b>Подтип организации:</b> #{subtypes[+info.subtype]}
            p <b>Вид организации:</b> #{categories[+info.category]}
            if info.tel
                p <b>Телефон:</b> #{info.tel}
            p <b>Район:</b> #{locations[+info.location]}
            p <b>ОГРН организации:</b> #{info.id}
            p <b>Статус сервиса "Электронный дневник":</b>
                if info.e_diary == "1"
                    span Включен
                else 
                    span Отсутствует
            if info.website
                p <b>Адрес сайта в сети Интернет:</b> 
                    a(href=`${info.website}`) #{info.website}
            if info.email
                p <b>Адрес электронной почты:</b> #{info.email}
        if admin 
            .info-buttons 
                button.edit(onclick=`window.location.replace('/editOrganization?id=${info.id}')`) Изменить
                button.delete(onclick=`deleteOrg(${info.id})`) Удалить
            
