doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='/public/style.css')
    body 
        div(class="roles")
            p Роль: #{role}
            button Администрирование
        div(class="main-menu")
            h1 Образовательные организации Санкт-Петербурга
            div(class="menu-links")
                a(href="/" class="other-a") Общая статистика
                a(href="/search-by-name" class="current-a") Поиск по названию
                a(href="/extended-search" class="other-a") Расширенный поиск 
        div(class="search")
            form(action="/search-by-name" method="get")
                input(class="search-input" type="text" name="search" placeholder="Введите название организации" value=`${searchQuery}`)
                button(class="search-btn" type="submit") Поиск
        ul(class="list")
            each org in orgsOnPage
                li
                    a(href=`/organization-page?id=${org.id}`) #{org.short_name}
                    p <b>Адрес</b>: #{org.address}
                    p <b>Тип:</b> #{org.type_name}
        br
        div(class="page")
            a(href=`/search-by-name?page=1&search=${searchQuery}`) <<
            a(href=`/search-by-name?page=${page-1}&search=${searchQuery}`) <
            p Номер страницы: #{page}
            a(href=`/search-by-name?page=${page+1}&search=${searchQuery}`) >
            a(href=`/search-by-name?page=${totalPages}&search=${searchQuery}`) >>
            

